{% extends 'base.html' %}
{% load static %}

{% block title %}
Welcome To FutureTech - Kick Off!
{% endblock %}

{% block content %}

<div class="welcome">
    <img src="{% static 'img/bg.jpg' %}" class="bg" alt="Back Ground">
    <div class="welcome-text">
        <h2><i class="bi bi-code"></i> Welcome to FutureTech <i class="bi bi-code-slash"></i></h2>
        <p>
            Benefit from a free training program. During these holidays, you can
            learn new skills and obtain a certfication in computer and IT related
            fields. <br>
            FutureTech brings to you the necessary training to get started.
        </p>
        <div class="links">
            <a href="/accounts/signup">Sign Up <i class="bi bi-send-check-fill"></i></a> 
            <a href="/register">Register <i class="bi bi-layers-fill"></i></a>
        </div>
    </div>
</div>

<div class="why-us">
    <div class="left">
        <h3>
            Why should you learn with us?
        </h3>
        <p>
            We are convinced we are the best. But why should you trust us? We have a lot of reasons!
        </p>
        <div>
            <span><i class="bi bi-check-circle color-main"></i> We have the best qualified tutors!</span>
            <span><i class="bi bi-check-circle color-main"></i> All our students get to build real world projects!</span>
            <span><i class="bi bi-check-circle color-main"></i> Our students are guaranteed monetizable skills!</span>
            <span><i class="bi bi-check-circle color-main"></i> We have excellent equipments!</span>
            <span><i class="bi bi-check-circle color-main"></i> We have rich experience!</span>

        </div>
    </div>
    <div class="right">
        <img src="{% static 'img/gallery/female-dev-coding.jpg' %}" alt="">
    </div>
</div>

<div class="modules">
    <h3>Learning modules</h3>
    <p> An inexhaustive list of valuable skills you will learn during the program </p>
    <div>
        <div class="course">
            <h4>Game Development</h4>
            <img src="{% static 'img/svg/game-dev.png' %}" alt="">
            <p>Game Development is a hot trend in the industry today. Gain Completed
                mastery by building 2-D and 3-D games. 
            </p>
        </div>

        <div class="course">
            <h4>Web Development</h4>
            <img src="{% static 'img/svg/web-dev.png' %}" alt="">
            <p>
                Learn how to develope your own websites and web apps. This is a must have 
                and highly soughted skill.y
            </p>
        </div>

        <div class="course">
            <h4>Mobile App Dev't</h4>
            <img src="{% static 'img/svg/app-dev.png' %}" alt="">
            <p>
                Learn how to develop mobile apps for Android and iOS. Mobile app use is on
                the rise and your skills will contibue to be relevant.
            </p>
        </div>

        <div class="course">
            <h4>Computer Security</h4>
            <img src="{% static 'img/svg/coding.png' %}" alt="">
            <p>
               Learn how to secure computing systems and devices, databases, and software from 
               malware and malicious attacks.
            </p>
        </div>

        <div class="course">
            <h4>Robotics</h4>
            <img src="{% static 'img/svg/robotics.png' %}" alt="">
            <p>
                Learn how to build your own automated robots. With the use of robots
                increasing rapidly, this is a must learn skill.
            </p>
        </div>

        <div class="course">
            <h4>Grapics Design</h4>
            <img src="{% static 'img/svg/graphics-2.png' %}" alt="">
            <p>
                Learn how to design eye catching and sleek designs for individuals 
                and businesses. 
            </p>
        </div>

        <div class="course">
            <h4>Computer Networking</h4>
            <img src="{% static 'img/svg/networking.png' %}" alt="">
            <p>
                Learn how to set up, configure, secure and maintain networks for organisations
                ,businesses and individuals.
            </p>
        </div>

        <div class="course">
            <h4>Microsoft Suite</h4>d
            <img src="{% static 'img/svg/office.png' %}" alt="">
            <p>
                Increase your productivity by acquiring proficiency in using the Microsoft Suite
                of tools. 
            </p>
        </div>

        <div class="course">
            <h4>Computer Maintenance</h4>
            <img src="{% static 'img/svg/maintenace.png' %}" alt="">
            <p>
                Learn how to fix hardware, install softare, maintain systems and 
                protect computers and other devices.
            </p>
        </div>
    </div>
</div>

<div class="gallery">
    <h3>Gallery</h3>
    <p>
        Have a quick view of technology in action. Coding, building, maintianing,
        testing. The field of Information Technology is a wonderful option for
        you.
    </p>
    <div class="images">

        
        <div class="grid-item">
            <img src="{% static 'img/gallery/laptop.jpg' %}" alt="">
            <p> The coding experince </p>
        </div>
        
        <div class="grid-item">
            <img src="{% static 'img/gallery/laptop-code.jpg' %}" alt="">
            <p> Building apps and sites with code! A masterpiece! </p>
        </div>
        
        <div class="grid-item">
            <img src="{% static 'img/gallery/male-dev-coding.jpg' %}" alt="">
            <p> Coding for all! </p>
        </div>
        
        <div class="grid-item">
            <img src="{% static 'img/gallery/female-dev-coding.jpg' %}" alt="">
            <p> Every one can code! </p>
        </div>

        <div class="grid-item">
            <img src="{% static 'img/gallery/rob.jpg' %}" alt="">
            <p> Build the society on tech! </p>
        </div>
    </div>
</div>

{% endblock %}