{% extends 'base.html' %}
{% load static %}
{%block title %}
 FutureTech - User Profile
{% endblock %}

{% block content %}
{% comment %}
    Here it is certain the user is registered and authenticated
{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js" integrity="sha512-UcDEnmFoMh0dYHu0wGsf5SKB7z7i5j3GuXHCnb3i4s44hfctoLihr896bxM0zL7jGkcHQXXrJsFIL62ehtd6yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
      integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
      crossorigin="anonymous"
    >
</script>

<section class="profile-section">
    <div class="profile-content">
        <div class="info mb-3 mt-3">
            Here is your registration form for the program.
            Save as PDF and print when needed.
            <div class="text-center">
                <button id="export-form" class="linky-button">Save to PDF </button>
            </div>
        </div>

        <div class="profile-container">
        <div>
        <div class="profile" id="profile">

            <div class="top-row">
                
                <div class="logo ">
                    <img class="img-fluid me-0" src="{% static 'img/logo.png' %}" alt="Icon" />
                    <h1 class="m-0 color-main d-inline">FutureTech</h1>
                </div>

                <div class="row">
                  <div class="col-xl-12">
                    <ul class="list-unstyled float-end text-left text-bold">
                      <li>Chappelle Obili, Yaounde.</li>
                      <li>(+237)650121278</li>
                      <li>(+237)655627130</li>
                    </ul>
                    </div>
                </div>
        
            </div>
            <hr height="3px" />

            <div class="profile-image">
                <img src="{% static 'img/gallery/canvas.jpg' %} " alt="User profile Image" />
            </div>

            <div class="text-center">
                <h2 class="color-main"> User Registration Form </h2>
                <p> This Form can be printed as proof that you registered for the FutureTech 
                    Program.
                </p>
            </div>

            <div class="credentials">
                <hr />
                <div class="cred-item">
                    <p class="right">
                        Name
                    </p>
        
                    <p class="left">
                        {% with registereduser.first_name|add:' '|add:registereduser.middle_name|add:' '|add:registereduser.last_name as name %}
                            {{ name }}
                        {% endwith %}
                    </p>
                </div>
                <hr />
                <div class="cred-item">
                    <p class="right">
                        Date of Birth
                    </p>
        
                    <p class="left">
                       {{ registereduser.birth_date|date:'d F, Y'}}
                    </p>
                </div>
                <hr />
                <div class="cred-item">
                    <p class="right">
                        Gender
                    </p>
        
                    <p class="left">
                        {{registereduser.get_gender_display}}
                    </p>
                </div>
                <hr />
                <div class="cred-item">
                    <p class="right">
                        Email
                    </p>
        
                    <p class="left">
                        <a href="mailto:{{registereduser.email}}" class="color-main">
                            {{registereduser.email}}
                        </a>
                    </p>
                </div>
                <hr />
                <div class="cred-item">
                    <p class="right">
                        Phone Number
                    </p>
        
                    <p class="left">
                        <a href="tel:{{registereduser.phone_number}}" class="text-dark">
                            {{registereduser.phone_number}}
                        </a>
                    </p>
                </div>
                <hr />
                <div class="cred-item">
                    <p class="right">
                        Courses Registered
                    </p>
        
                        <ul class="text-left m-0 p-0 left">
                            {% if registereduser.get_course_list %}
                                {% for course in registereduser.get_course_list %}
                                 <li > <i class="bi bi-check-circle-fill color-main" > </i> {{course}} </li>
                                {% endfor %}
                            {% endif %}
                          </ul>
    
                </div>
                <hr />
                <div class="cred-item">
                    <p class="right">
                        Total Registration Fee
                    </p>
        
                    <p class="left">
                        <span class="badge bg-info"> {{registereduser.registration_fee}} </span>
                    </p>
                </div>
                <hr />
                <div class="cred-item">
                    <p class="right">
                        <span >Registration Status </span>
                    </p>
        
                    <p class="left">
                        {% if registereduser.registration_status.null %}
                            <span class="badge bg-danger"> Stalled  <i class="bi bi-exclamation-triangle-fill " > </i> </span>
                        {% elif registereduser.registration_status %}
                            <span class="badge bg-success"> Completed  <i class="bi bi-check-circle-fill " > </i>  </span>
                        {% else %}
                            <span class="badge bg-warning"> Pending  <i class="bi bi-arrow-repeat" > </i> </span>
                        {% endif %}
                    </p>
                </div>
                <hr />

            </div>
        </div>
        </div>
    </div>
        
</section>
{% endblock %}