{% extends 'base.html' %}
{% load static %}
{% load  crispy_forms_tags%}
{%block title %}
 Welcome to FutureTech - Register
{% endblock %}

{% block content %}

<div class="gen-form">
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="text-center">
                        <img  src="{% static 'img/logo.png' %} " alt="logo" />
                        <h3  class="text-center" >Register Today</h3>
                        <p class="text-center" >Fill in the data below.</p>
                        </div>
                        <form class="requires-validation" method="POST" novalidate>
                            {% csrf_token %}
                            <div class="col-md-12">
                               <input class="form-control" type="text" name="first_name" placeholder="First Name" required>
                               <div class="text-danger  text-sm">{{form.first_name.errors }}</div>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="text" name="middle_name" placeholder="Middle Name" >
                                <div class="text-danger  text-sm">{{form.middle_name.errors }}</div>
                             </div>

                             <div class="col-md-12">
                                <input class="form-control" type="text" name="last_name" placeholder="Last Name" required>
                                <div class="text-danger  text-sm">{{form.last_name.errors }}</div>
                             </div>

                             <div class="col-md-12">
                                <label for="dob"> Date of birth </label>
                                <input id="dob" class="form-control" type="date" name="birth_date" placeholder="Date of Birth" required>
                                <div class="text-danger  text-sm">{{form.birth_date.errors }}</div>
                             </div>

                             <div class="col-md-12 mt-3">
                                <label class="mb-3 mr-1" for="gender">Gender: </label>
    
                                <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" value="M" required>
                                <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>
    
                                <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" value="F" required>
                                <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>
                                <div class="text-danger  text-sm">{{form.gender.errors }}</div>
                            </div>


                            <div class="col-md-12 mb-3">
                                <input class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                                <div class="text-danger  text-sm">{{form.email.errors }}</div>
                            </div>

                            <div class="col-md-12">
                                <label for="phone_number"> Phone Number </label>
                                <input class="form-control" type="tel" name="phone_number" id="phone_number" pattern="((\+|00)?[1-9]{3}|0)[1-9]( ?[0-9]){8}" placeholder="+237687908978" required>
                                <div class="text-danger  text-sm">{{form.phone_number.errors }}</div>
                             </div> 

                           <div class="col-md-12">
                                <div class="mt-2 mb-0 text-warning text-sm"> While pressing <kbd>CTRL</kbd> 
                                    or <kbd>Command</kbd>,
                                    click on the course to select or deselect.
                                 </div>
                                <select class="form-select mt-3" name="courses" multiple required>
                                      <option selected disabled value="">Course</option>
                                      <option value="Game Development">Game Development</option>
                                      <option value="Microsoft Office">Microsoft Office</option>
                                      <option value="Computer Networking">Computer Networking</option>
                                      <option value="Web Development">Web Development</option>
                                      <option value="Mobile App development">Mobile App development</option>
                                      <option value="Robotics">Robotics</option>
                                      <option value="Graphics Design">Graphics Design</option>
                                      <option value="Computer Maintenance">Computer Maintenance</option>
                               </select>
                               <div class="text-danger  text-sm">{{form.courses.errors }}</div>
                           </div>

                          
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label">I confirm that all data are correct</label>
                         <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                        </div>
                  

                            <div class="form-button mt-3 text-center">
                                <button id="submit" type="submit" class="btn btn-dark linky-button">Register <i class="bi bi-layers-fill"> </i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    
{% endblock %}